@{
    ViewData["Title"] = "Home Page";
}

<div >

    @* Frontpage Hero Section *@
    <section class="max-w-[1524px] mx-auto p-0 m-0">
        <div class="my-10">
            <h1 class="text-center text-5xl lg:text-7xl font-bold">Welcome to <span
                    style="color: #3A7D44;">EcoWardrobe!</span></h1>
            <p class="lg:text-lg my-10 text-center text-slate-700">At EcoWardrobe, we believe that style shouldn't come
                at the cost of
                our
                planet. That's
                why we're dedicated to offering a curated collection of high-quality, gently-used clothing. EcoWardrobe
                is more than just a store—it's a community of eco-conscious
                fashion lovers who are making a
                positive impact, one outfit at a time. Explore our collection, and redefine what it means to be stylish
                and sustainable.</p>

            <div class="flex flex-row gap-x-5 mx-auto w-fit max-h-[48px]">
                <a href="#"
                    class="text-center bg-[#69B578] px-11 py-3 font-bold text-white rounded-md hover:bg-[#3A7D44] transition-colors">Mens</a>
                <a href="#"
                    class="text-center px-8 py-3 border-2 border-[#69B578] max-w-fit max-h-fit font-bold rounded-md hover:border-0 hover:bg-[#69B578] hover:text-white transition-colors">Women</a>
            </div>

            <div class="text-center font-bold flex flex-row  mx-auto w-fit my-5 group translate-x-2">
                <a href="#" class="text-[#3A7D44]">Start selling</a>
                <svg class="shrink-0 my-[1.8px] group-hover:translate-x-1 transition-transform" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="#3A7D44" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="m9 18 6-6-6-6" />
                </svg>
            </div>

        </div>
    </section>

    @* Sales Pitch Section*@
    <section class="lg:my-32 bg-slate-100">
        <!-- Features -->
        <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
            <!-- Grid -->
            <div class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-24">
                <div>
                    <img class="rounded-xl size-4/5 mx-auto" src="~/img/earth-image.png" alt="Features Image">
                </div>
                <!-- End Col -->

                <div class="mt-5 sm:mt-10 lg:mt-0">
                    <div class="space-y-6 sm:space-y-8">
                        <!-- Title -->
                        <div class="space-y-2 md:space-y-4">
                            <h2 class="font-bold text-3xl lg:text-4xl text-gray-800">
                                We Tackle the Challenges of Sustainable Fashion
                            </h2>
                            <p class="text-gray-500">
                                At EcoWardrobe, we're not just about selling pre-loved clothing; we're about solving the
                                challenges that come with making fashion sustainable. Through our journey, we've
                                identified common obstacles in the fashion industry and developed solutions that make
                                eco-friendly choices easier for everyone.
                            </p>
                        </div>
                        <!-- End Title -->

                        <!-- List -->
                        <ul class="space-y-2 sm:space-y-4">
                            <li class="flex gap-x-3">
                                <span
                                    class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600">
                                    <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24"
                                        height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <polyline points="20 6 9 17 4 12" />
                                    </svg>
                                </span>
                                <div class="grow">
                                    <span class="text-sm sm:text-base text-gray-500 font-bold">
                                        Effortless Shopping Experience
                                    </span>
                                </div>
                            </li>

                            <li class="flex gap-x-3">
                                <span
                                    class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600">
                                    <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24"
                                        height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <polyline points="20 6 9 17 4 12" />
                                    </svg>
                                </span>
                                <div class="grow">
                                    <span class="text-sm sm:text-base text-gray-500 font-bold">
                                        Eco-Friendly Features
                                    </span>
                                </div>
                            </li>

                            <li class="flex gap-x-3">
                                <span
                                    class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600">
                                    <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24"
                                        height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <polyline points="20 6 9 17 4 12" />
                                    </svg>
                                </span>
                                <div class="grow">
                                    <span class="text-sm sm:text-base text-gray-500 font-bold">
                                        User Experience Design
                                    </span>
                                </div>
                            </li>
                        </ul>
                        <!-- End List -->
                    </div>
                </div>
                <!-- End Col -->
            </div>
            <!-- End Grid -->
        </div>
        <!-- End Features -->
    </section>

    @* Categories carousel *@
    <section>

    </section>

    @* About us section *@
    <section>

    </section>

</div>