@{
    ViewData["Title"] = "Home Page";
}

<div class="max-w-7xl mx-auto p-0 m-0">

    @* Frontpage Banner *@
    <section>
        <img src="~/img/EcoWardrobe-banner.png"/>
        <div class="bg-slate-50 h-10 w-screen absolute left-0 -z-10"></div>
    </section>

    @* Sales Pitch Section*@
    <section>

    </section>

    @* Categories carousel *@
    <section>

    </section>

    @* About us section *@
    <section>

    </section>

</div>