@using Microsoft.AspNetCore.Identity
@using Ecommerce_Project.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Ecommerce - @ViewData["Title"] </title>

    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />




</head>

<body>

    <header class="bg-white border-b-slate-200 border-b-2 shadow-sm">
        <nav class="flex justify-between items-center mx-auto w-11/12 py-4 max-h-14 z-30">
            <div
                class="nav-links md:relative absolute bg-white md:min-h-fit min-h-[60vh] nav-inactive left-0 md:w-auto w-full z-30">
                <ul class="flex md:flex-row flex-col items-center gap-7 w-auto">
                    <li class="nav-item">
                        <a href="#">Explore</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">Mens</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">Women</a>
                    </li>

                    @{
                        if (SignInManager.IsSignedIn(User))
                        {
                            <li class="md:hidden nav-item">
                                <a id="manage" class="nav-item" asp-area="Identity"
                                    asp-page="/Account/Manage/Index" title="Manage">
                                    MyProfile</a>
                            </li>

                        }
                        else
                        {
                            <li class="md:hidden nav-item">
                                <a href="/Identity/Account/Login">Sign in</a>
                            </li>
                        }
                    }
                </ul>
            </div>

            <div class="relative lg:absolute lg:left-[49%] z-40">
                <a class="cursor-pointer" href="/">
                    @*<svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                    d="M6.77857 6.13915C7.7289 4.78193 9.59953 4.45209 10.9568 5.40242C12.314 6.35275 12.6438 8.22339
                    11.6935 9.58061L5.95771 17.7721C5.00738 19.1293 3.13674 19.4592 1.77953 18.5089C0.422312 17.5585
                    0.0924684 15.6879 1.0428 14.3307L6.77857 6.13915Z"
                    fill="currentColor" />
                    <path
                    d="M15.2678 6.22811C16.2182 4.8709 18.0888 4.54105 19.446 5.49138C20.8032 6.44172 21.1331 8.31235
                    20.1827 9.66957L14.447 17.8611C13.4966 19.2183 11.626 19.5481 10.2688 18.5978C8.91158 17.6475
                    8.58173 15.7768 9.53207 14.4196L15.2678 6.22811Z"
                    fill="currentColor" />
                    <path
                    d="M20.5 18.8596C22.1569 18.8596 23.5 17.5165 23.5 15.8596C23.5 14.2028 22.1569 12.8596 20.5
                    12.8596C18.8431 12.8596 17.5 14.2028 17.5 15.8596C17.5 17.5165 18.8431 18.8596 20.5 18.8596Z"
                    fill="currentColor" />
                    </svg>*@

                    <img src="~/img/EcoWardrobe-logo.png" style="width: 40px; height: 40px;" />

                </a>
            </div>

            <div class="">
                <div class="flex w-fit items-center gap-x-5">
                    @{
                        if (SignInManager.IsSignedIn(User))
                        {
                            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                                asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button id="logout" type="submit" class="nav-item hidden md:block">Logout</button>
                            </form>
                            <a id="manage" class="nav-item hidden md:block" asp-area="Identity" asp-page="/Account/Manage/Index"
                                title="Manage">MyProfile</a>
                        }
                        else
                        {
                            <a asp-area="Identity" asp-page="/Account/Login" class="hidden md:block nav-item">Sign in</a>
                        }
                    }
                    <div class="relative inline-block items-center z-40" style="margin-top: 5px;">
                        <ion-icon name="cart-outline" class="text-3xl cursor-pointer z-40"></ion-icon>
                        <span
                            class="absolute top-0 end-0 block size-3.5 rounded-full ring-2 ring-white bg-red-500 text-center text-white"
                            style="font-size: 10px;">0</span>
                    </div>
                    <ion-icon onclick="onToggleMenu(this)" name="menu-outline"
                        class="text-3xl cursor-pointer md:hidden z-40"></ion-icon>
                </div>

            </div>

        </nav>
    </header>

    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
